body {
  background: #141414;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  min-height: 100vh;
}

.row-margin{
  margin: 10px;
}
.card-margin{
  margin-left: 6.5rem;
  margin-right: 1.5rem;
}
.card-over{
  top: 55%;
}
.modal-width{
  width: 75%;
}
